output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
*.duckdb
*.duckdb.*
.netlify
.vercel

# Local Mastra runtime storage (created by dev server)
src/mastra/public/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dependencies
package-lock.json
